<div>
  <h2 id="page-heading" data-cy="LaudoHeading">
    <span jhiTranslate="agendamentoMedicoApp.laudo.home.title">Laudos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="agendamentoMedicoApp.laudo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-laudo"
        [routerLink]="['/laudo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="agendamentoMedicoApp.laudo.home.createLabel"> Create a new Laudo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="laudos?.length === 0">
    <span jhiTranslate="agendamentoMedicoApp.laudo.home.notFound">No laudos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="laudos && laudos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="agendamentoMedicoApp.laudo.parecerMedico">Parecer Medico</span></th>
          <th scope="col"><span jhiTranslate="agendamentoMedicoApp.laudo.encaminhamento">Encaminhamento</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laudo of laudos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/laudo', laudo.id, 'view']">{{ laudo.id }}</a>
          </td>
          <td>{{ laudo.parecerMedico }}</td>
          <td>{{ laudo.encaminhamento }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/laudo', laudo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/laudo', laudo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(laudo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
