<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="medico">
      <h2 data-cy="medicoDetailsHeading"><span jhiTranslate="agendamentoMedicoApp.medico.detail.title">Medico</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ medico.id }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.medico.crm">Crm</span></dt>
        <dd>
          <span>{{ medico.crm }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.medico.nome">Nome</span></dt>
        <dd>
          <span>{{ medico.nome }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.medico.telefone">Telefone</span></dt>
        <dd>
          <span>{{ medico.telefone }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.medico.especialidade">Especialidade</span></dt>
        <dd>
          <span jhiTranslate="{{ 'agendamentoMedicoApp.Especialicacao.' + medico.especialidade }}">{{ medico.especialidade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/medico', medico.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
