<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="laudo">
      <h2 data-cy="laudoDetailsHeading"><span jhiTranslate="agendamentoMedicoApp.laudo.detail.title">Laudo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ laudo.id }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.laudo.parecerMedico">Parecer Medico</span></dt>
        <dd>
          <span>{{ laudo.parecerMedico }}</span>
        </dd>
        <dt><span jhiTranslate="agendamentoMedicoApp.laudo.encaminhamento">Encaminhamento</span></dt>
        <dd>
          <span>{{ laudo.encaminhamento }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/laudo', laudo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
